/vetores/at_vetores/ExemploVetor/nbproject/private/
/vetores/at_vetores/ExemploVetor/build/
/vetores/at_vetores/TestaArrayContatos/nbproject/private/
/vetores/at_vetores/TestaArrayContatos/build/
/vetores/TestaValoresInteiros/nbproject/private/
/vetores/TestaValoresInteiros/build/
/vetores/ParImpar/nbproject/private/
/vetores/ParImpar/build/
/Sistema/nbproject/private/
/Sistema/build/
/cadastroCliente_12_05/build/
/formularioBanco/nbproject/private/
/formularioBanco/build/
/lojaEstoque/nbproject/private/
/lojaEstoque/build/